body {
    margin: 0;
    width: 100vw;    
}

.backgroundHeader {
    margin: 0;
    height: 35vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    filter:brightness(40%);
    max-height: 25%;
}

.taglines {
    top: 7.5vh;
    left: 12vw;
    position: absolute;
    z-index: 2;
}

.tagline {
    color: #fff;
    font-family: Pacifico, sans-serif;
    font-weight: 200;
}

.edinburgh {
    text-align: right;
}

.title {
    text-align: center;
    font-family: "B612 Mono";
    color: rgb(252, 227, 227);
    margin: 0 auto;
}

.titleBar {
    margin: 0 auto;
    height: 80px;
    margin-bottom: none;
}

header {
    margin-top: 0;
    margin-bottom: 5px;
    background-color: rgb(3, 116, 145);
    height: 80px;
}

.top {
    margin-top: -1vh;
    position: relative;
    margin-bottom: 0;
}

.grid {
    display: grid;
}



.grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    justify-items: center;
    align-items: center;
}

/* .smallPhoto {
    width: 26vw;
    padding: none;
    align-self: stretch;
} */

.largePhoto {
    height: auto;
    width: 50vw;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 0;
    grid-row-end: span 3;
    align-self: start;
    max-width: 450px;
 
}

.aboutGist {
    font-family: Pacifico, sans-serif;
    padding: 20px;
    text-align: center;
    color: rgb(8, 85, 104);
    font-size: 2rem;

}

.about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:500;
    line-height: 1.2;
    grid-column-start: 0;
    grid-column-end: span 2;
    padding: 25px;
    margin-left: 5vw;
    align-self: start;
    font-size: 1.2rem;
    
}

footer {
    height: 40px;
    background-color: rgba(18, 108, 131, 0.836);
}